body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

.logo{
    width: 120px;
    align-items: start;
}

nav h1{
    font-size: 40px;
}

.navigation{
    background: linear-gradient(
        180deg,
        rgba(8, 8, 8, 0.63) 10%,
        rgba(12, 10, 10, 0)
      );
    height: 150px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
}

.text h1, p{
    text-align: left;
    width: 900px;
}

h1, h2{
    margin: 15px;
}

ul{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    padding-top: 30px;
}

li a{
    text-decoration: none;
    color: black;
    font-size: 23px;
    font-weight: bold;
}

a:hover{
    color: crimson;
    text-decoration: underline;
}

.text-gallery {
    height: 80px;
    width: 100%; 
    background-color:rgb(16, 185, 185);
}

.hero-image-box{
    background: url(images/sunnyday.jpg);
    background-repeat: no-repeat;
    display: grid;
    height: 320px;
    width: 100%;
}

.summary{
    height: 280px;
    width: 300px;
    text-align: center;
    background-color: lightgray;
    margin: 20px;
    border-radius: 15px;
}

.summary h5{
    text-align: left;
    font-size: 13px;
    padding: 10px;
    font-weight: 100;
}

.five-day-forecast{
    border: 2px solid rgb(165, 160, 160);
    width: 100%;
    height: 150px;
    background-color: lightgrey;
}

.five-day-forecast img{
    height: 100px;
}

.article-box{
    padding: 20px;
}

.article-paragraph p{
    padding: 15px;
}

footer{
    background: linear-gradient(
        0deg,
        rgba(8, 8, 8, 0.63) 40%,
        rgba(12, 10, 10, 0)
      );
      height: 300px;
}
footer p{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 5px;
}

#displayDate{
    font-weight: bold;
    font-size: 17px;
}

.map{
    float: right;
    align-content: end;
    justify-items: start;
    margin-top: -140px;
}

.social{
    width: 220px;
    margin: 15px  10px 20px 20px;
}

.name{
    margin: 15px  10px 20px 20px;
}

.round{
    border-radius: 50%;
}